@font-face {
  font-family: 'RobotoMono';
  src: url('../../fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

.contribution-map-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  font-family: 'RobotoMono', sans-serif;

  .contribution-map {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;

    .content-wrapper {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Align content to the left within the wrapper
    }

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      color: #fff;
      font-family: 'RobotoMono', sans-serif;
      text-align: left;
    }

    .react-github-calendar {
      display: flex;
      justify-content: center;
      font-family: 'RobotoMono', sans-serif;
      width: auto;
    }

    .calendar-wrapper {
      display: flex;
      justify-content: center;
      width: auto;
    }
  }
}
