.about-technologies-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-family: 'RobotoMono', sans-serif;
  color: #fff;

  .about-technologies {
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      text-align: left;
      color: #fff;
    }

    .technology-categories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }

      .technology-category {
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 10px;
        color: #fff;

        h3 {
          font-size: 1.5em;
          margin-bottom: 30px;
          text-align: center;
          color: #fff;
        }

        .technology-items {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;

          @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 500px) {
            grid-template-columns: repeat(2, 1fr) !important;
          }

          .technology-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2em;
            color: #fff;
            transition: color 0.3s ease;
            cursor: default; /* Ensures the cursor stays default */

            i {
              font-size: 3em;
              margin-bottom: 10px;
              color: inherit;
              transition: inherit;
            }

            p {
              margin: 0;
              text-align: center;
              color: inherit;
              transition: inherit;
            }

            &:hover {
              color: #8a2be2;
            }
          }
        }
      }
    }
  }
}
